body{
    font-size: large;
    background: url('/static/images/music.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration-color:black;
  }
  h1{
    padding: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:300%;
    text-align: center;
    text-decoration-style: solid;
    color:black;
}
h2{
    padding: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
    text-align: center;
    text-decoration-style: solid;
    color:black;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: rgb(0, 153, 255);
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color:rgb(0, 153, 255);
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar> .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:black;
    transition: width 0.4s linear;
    }
    .search_input-expand{
    padding: 0 10px;
    width: 450px;
    caret-color:black;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background:blue;
    color: black;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:black;
    }
    /* div.upload{
      position: absolute;
      overflow: hidden;
      left:50%;
      right:50%;
    }
    figure{
      border-radius: 50px;
      text-decoration-color: black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 200%;
      position: absolute;
      left:80%;
      top:90%;

    }
    .figcaption{
      background-color: white;
      position: absolute;
      left:70%;
      top:80%;
    } */
    /* .audio{
      position: absolute;
      left:100%;
      top:110%;
    } */